.git/**
.vscode/**
src/**
node_modules/**
*.ts
tsconfig.json
tsconfig.test.json
.gitignore
.vscodeignore
package-lock.json
out/**
!out/extension.js
esbuild.js
build.bat
build.sh
build.ps1
*.md
!README.md
