.git/**
.vscode/**
i18n-manifest/**
scripts/**
src/**
node_modules/**
*.ts
tsconfig.json
tsconfig.test.json
.gitignore
.vscodeignore
package-lock.json
out/**
!out/extension.js
!out/webview/side-panel.js
!out/webview/side-panel.css
esbuild.js
build.bat
build.sh
build.ps1
*.md
!README.md
!package.nls*.json
